<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="user-info"><%= link_to "Blocipedia", root_path %> </li>
      <li class="user-info"><%= link_to "Wiki's", wikis_path %> </li>
      <li class="user-info"><%= link_to "Users", users_path %> </li>
      <li class="user-info pull-right">
        <% if user_signed_in? %>
            <div class="user-info pull-right">
            <li class="user-info pull-right">
              <a class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.username %></a>
              <ul class="dropdown-menu">
                <div class="account-container">
                  <li class="account-info username"><%= current_user.username %> - <%= current_user.role.capitalize %></li>
                  <li class="account-info email"><%= current_user.email %></li>
                </div>
                <li><%= link_to 'Account Settings', user_path(current_user.id) %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
        <% else %>
            <div class="user-info">
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
            </div>
        <% end %>
      </li>
    </ul>
    <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
    <% elsif flash.now[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.now[:alert] %>
        </div>
    <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
